<p class='mt-5'>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Recipe:</strong>
  <% @doses.each do |dose|%>
  <%= dose.ingredient.name %>
  <%= dose.description %>
  <% end %>
</p>

<%= render 'doses/new' %>

<%= link_to 'Back', cocktails_path, class: 'btn btn-secondary' %>
